@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!---Add logo-->
    <img src="~/lib/image/admission.png" style="position:unset" ;width:100%">
    <!--Add Heading-->
    <h1 class="display-4">Cambridge Assesment International  Education School Amritsar</h1>
    <h1 class="display-4">Science,Commerce and Arsts),CBSE Affiliated</h1>
    <!--Add Image-->
    <img src="~/lib/image/poster.jpg" style="width:100%">
</div>
